@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid {
    background: linear-gradient(90deg, rgb(7, 87, 0) 0%, rgb(0, 212, 11) 50%, rgb(7, 87, 0) 100%);
    font-family: 'Poppins', sans-serif;
    padding: 0.001rem 0;
    padding-bottom: 25rem;

    .row {
        justify-content: center;

        .box {
            max-width: fit-content;
            .card {
                margin-top: 5rem;
                border-radius: 20px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

                .card-body {
                    padding: 50px;
                    background-color: white;

                    h4 {
                        font-size: 2rem;
                        font-weight: 700;
                        color: #dc3545;
                    }

                    p {
                        color: rgba(0, 0, 0, 0.6);
                        font-size: 1.2rem;
                    }

                    form {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .form-control {
                            color: rgba(0, 0, 0, 0.87);
                            border-bottom: 1px solid rgba(0, 0, 0, 0.42);
                            border: none;
                            border-radius: 4px 4px 0 0;
                            box-shadow: none;

                            &:required {
                                border-bottom-color: red;
                            }

                            &:focus:required {
                                outline: none;
                                border-bottom-color: red;
                                box-shadow: 0 2px 4px rgba(255, 0, 0, 0.2);
                            }
                        }

                        .errorMessage {
                            color: red;
                            font-size: 0.9rem;
                            margin-top: 0.5rem;
                            align-self: flex-start;
                        }

                        .btn-primary {
                            width: 100%;
                            border: none;
                            border-radius: 50px;
                            font-size: larger;
                            font-weight: bold;
                            background: linear-gradient(90deg,
                                    rgb(7, 87, 0) 0%,
                                    rgb(0, 212, 11) 50%,
                                    rgb(7, 87, 0) 100%);
                            padding: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .container-fluid .row .box .card {
        width: 100%;
    }
}